html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50rem;
  padding: 20px 50px;
  box-sizing: border-box;

  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-content {
  margin-left: 0rem;
  text-align: left;
}

.quote {
  font-family: Georgia, serif; /* Endre fonten her */
  font-style: italic; /* Gjør teksten italic */
  font-size: 2.5em; /* Forstørr fonten litt */
  color: #555; /* En subtil gråfarge */
  margin: 20px 0;
  max-width: 80%; /* Begrens bredden på sitatet */
  border-left: 3px solid #1e87f0;
  padding-left: 1rem;
}

.paragraph {
  margin-top: 10px; /* Litt avstand fra sitatet */
  font-size: 1.3em; /* Standard fontstørrelse */
  color: #c6c6c6; /* Litt mørkere tekstfarge */
  max-width: 40%;
  text-align: left;
}
