:root {
  --primary-color: #ffab00;
  --background-color: #f5f5f5;
  --text-color: #2c2c2c; /* Mørk grå farge */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color) !important;
  margin: 0;
  padding: 0;
}

.uk-navbar-container {
  /* background-color: #f8f9fa !important; */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent !important;
}

.uk-navbar-container a {
  color: var(--text-color) !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, transform 0.15s ease-in-out !important;
}

.uk-navbar-container a:hover {
  color: var(--primary-color) !important;
  transform: scale(1.1);
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50rem;
  padding: 0px 50px;
  box-sizing: border-box;

  position: relative;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("/assets/images/forside.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  filter: grayscale(100%);
}

header h1,
header p {
  position: relative;
  z-index: 1;
}

.header-content {
  margin-left: 0rem;
  text-align: left;
}

.quote {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 2.5em;
  color: var(--primary-color) !important;
  margin: 20px 0;
  max-width: 80%;
  border-left: 5px solid black;
  padding-left: 1rem;
}

.paragraph {
  margin-top: 10px;
  font-size: 1.3em;
  color: #ebebeb;
  max-width: 40%;
  text-align: left;
}

.mainFooter {
  background-color: rgb(233, 236, 239) !important;
}
